body {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("img_ob1.webp");
  background-size: cover;
  background-position: center;
}


.center-text {
  text-align: center;
    font-size: 40px;
     background-color: #ffffff;
    color: #26178c;
    font-family: 'Courier New', monospace;
    
}

.topnav img {
  display: block;
  margin-right: auto;
  width: 30%;

}

.topnav {
  background-color: #ddd2ad;
  overflow: hidden;
  
}
.topnav a {
  float: left;
  color: #fff7f7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
   font-family: 'Courier New', monospace;
  
}

table {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: 'Courier New', monospace;
}

th {
  background-color: #ddd2ad;
  color: black;
}

td {
  background-color: white;
}

table, th, td {
    color: #26178c;
  border: 1px solid black;
  text-align: center;
}

th, td {
  padding: 10px;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
   
}

.contact-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Courier New', monospace;
}

.contact-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Courier New', monospace;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 6px solid #26178c;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

.contact-form button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #ddd2ad;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Courier New', monospace;
}

.contact-form button:hover {
  background-color: #555;
}

.footer {
  background-color: #ddd2ad;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
  border-top: 1px solid #ddd2ad;;
  font-family: 'Courier New', monospace;
}



